.page .content .places .place-1 {
  background-image: url("../../../imgs/england/england-1.jpg");
}

.page .content .places .place-2 {
  background-image: url("../../../imgs/england/england-2.jpg");
}

.page .content .places .place-3 {
  background-image: url("../../../imgs/england/england-3.jpg");
}
