.page .content .places .place-1 {
  background-image: url("../../../imgs/france/france-1.jpg");
}

.page .content .places .place-2 {
  background-image: url("../../../imgs/france/france-2.jpg");
}

.page .content .places .place-3 {
  background-image: url("../../../imgs/france/france-3.jpg");
}
