.page .content .places .place-1 {
  background-image: url("../../../imgs/thailand/thailand-1.jpg");
}

.page .content .places .place-2 {
  background-image: url("../../../imgs/thailand/thailand-2.jpg");
}

.page .content .places .place-3 {
  background-image: url("../../../imgs/thailand/thailand-3.jpg");
}
