.page .content .places .place-1 {
  background-image: url("../../../imgs/turckey/turckey-1.jpg");
}

.page .content .places .place-2 {
  background-image: url("../../../imgs/turckey/turckey-2.jpg");
}

.page .content .places .place-3 {
  background-image: url("../../../imgs/turckey/turckey-3.jpg");
}
